build_info.json

^bin/dep/all
bin/*
.cproject
.project
.pydevproject
.settings/*
.vscode/*
*~
tools/make/config.mk
cflie.*
version.c
tags
.crazyflie_ros_ws/devel/*
/cf2.*
/tag.*
*.gch

crazyflie_ros_ws/.catkin_tools
crazyflie_ros_ws/build/
crazyflie_ros_ws/devel/
crazyflie_ros_ws/logs/
current_platform.mk

/generated/**
**/__pycache__/**

/docs/.jekyll-metadata
docs/.jekyll-cache
docs/api
crazyflie_ros_ws/.catkin_tools/*
crazyflie_ros_ws/devel/*
crazyflie_ros_ws/logs/*
crazyflie_ros_ws/build/*